
    <!-- mainbody -->
      
      <h1>Web Server Node JS</h1>
      <p>Welcome to my page <%= nama %> </p>
      <h1>Contact List : </h1>
      <ul>
       
        <% if (cont.length < 1 ) { %>
         <p>Contact Data empty</p>
        <% } else {%>
        <% contacts.forEach(contact => { %>
          <li> Name : <%= contact.name %> </li>
          <li>Email : <%= contact.email %> </li>
          <br />
        <% }) %>
        <% } %>
 
      </ul>
    
    
